
@model ApplicationViewModel

@if (Model.CreeperStalker == false) 
{
    <h2>Application Received. Thank you, @Model.FirstName</h2>
    <h3>Although you should be thanking me for creating this page for you</h3>
}
else
{
    <h2>Oh, shoot. My bad. I actually forgot that I am in a relationship. But I have a friend that I think you would be perfect for you</h2>
}