@{
    ViewData["Title"] = "Home Page";
}

<h1>Date Byron Jones</h1>

<div>
    <p>Today is your lucky day. You may have the opportunity to date this...</p>
	<img src="~/img/pxl_20250816_220723502.jpg" width="1000"/>
</div>

<br />

<div>
    <a asp-controller="Home" asp-action="DatingApplication">Fill Out an Application to Date Me</a>
</div>

<div>
    <a asp-controller="Home" asp-action="WaitList">View Wait List</a>
</div>